.navbar .img-fluid{
    max-width: 50%;
    margin: 0 18%;
}

.navbar{
    background-color: #3097d1;
}

.actualite {
    padding: 2% 4%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.profil{
    text-align: center;
}

.profil .card .card-body img {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
}

.profil .card .card-title{
    margin-top: 20%;
}

.full{
    width: 100%;
    height:auto;
}
.about ul {
    padding: 0;
    list-style: none;
}

.about li {
    margin-bottom: 2%;
}

.left {
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-bottom: none;
}
li i {
    margin-right: 3%;
}

main {
    padding: 2% 4%;
}

hr{
    margin-bottom: 5%;
}

.footer ul{
    list-style: none;
    padding: 0;
}

.footer ul li{
    display: inline-block;
}
