.navbar .img-fluid{
    max-width: 50%;
    margin: 0 18%;
}

.navbar{
    background-color: #3097d1;
}

.actualite {
    padding: 2% 4%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.profil{
    text-align: center;
}

.about ul {
    padding: 0;
    list-style: none;
}

.about li {
    margin-bottom: 2%;
}
li i {
    margin-right: 3%;
}

main {
    padding: 2% 4%;
}

hr{
    margin-bottom: 5%;
}
