.profil{
    background-color: lightblue;
    // height: 200px;
    text-align: center;
}

.about{
    background-color: lightgreen;
    // height: 200px;
}

.photo{
    background-color: pink;
    // height: 200px;
}

.actualite{
    background-color: red;
    height: 1000px;;
}

.add{
    background-color: grey;
    // height: 200px;
}

.like{
    background-color: blue;
    // height: 200px;
}

.footer{
    background-color: green;
    // height: 200px;
}
